.myTable {
  width: 100%;
}
.myTable > table {
  width: 100%;
  border-collapse: collapse;
}
.myTable-thead {
  width: 100%;
  background: rgba(230, 230, 230, 1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.myTable-tbody {
  width: 100%;
  background: rgba(250, 250, 250, 1);
}
.myTable-tr {
  width: 100%;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.myTable-th {
  user-select: none;
  text-align: left;
  padding: 10px;
  color: rgba(50, 50, 50, 1);
  border-top: 3px solid transparent;
  cursor: pointer;
}
.myTable-td {
  text-align: left;
  padding: 10px;
  color: rgba(80, 80, 80, 1);
}
.myTable-th-div {
  display: flex;
  align-items: center;
  position: relative;
}
a.sort-by:before,
a.sort-by:after {
  border: 4px solid transparent;
  content: '';
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
}
a.sort-by:before {
  border-bottom-color: rgba(120, 120, 120, 1);
  margin-top: -9px;
}
a.sort-by:after {
  border-top-color: rgba(120, 120, 120, 1);
  margin-top: 1px;
}
a.ASC:before {
  border-bottom-color: #a2c07c !important;
}
a.DESC:after {
  border-top-color: #a2c07c !important;
}
.sorted-col {
  color: #a2c07c;
  border-top: 3px solid #a2c07c;
}
.sorted-col > div > span {
  color: #a2c07c !important;
}
.myTable-bottom {
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
  background: rgba(250, 250, 250, 1);
}
.myTable-pagination {
  display: flex;
  align-items: center;
  color: rgba(80, 80, 80, 1);
  font-size: 14px;
}
.myTable-pagination > span {
  user-select: none;
  padding: 5px;
  margin: 0 10px;
  cursor: pointer;
  color: rgba(150, 150, 150, 1);
}
.myTable-pagination > span:hover {
  color: #a2c07c;
}
.pagebutton-disabled {
  color: rgba(220, 220, 220, 1) !important;
  pointer-events: none !important;
}
.myTable-pagination > input {
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-size: 14px;
  outline: none;
  margin-right: 5px;
  color: rgba(80, 80, 80, 1);
}
